<html lang="en">
	<head>
		<title>Expense PieChart</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="style.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> 
		<!--To utilize the charjs library, we must call it through the above CDN-->
	</head>
	
	<body>
		<h1 style="text-align:center; color:green; text-transform: uppercase; font-family:Arial">Transaction Ratio</h1>
	
		<div id="canvas-holder" style="width: 38%; float:left"> 
			<h2 style="text-align:center; font-family:Arial">Expense Ratio</h2>
		    <canvas id="chart-area"></canvas>
		    <!--All models are placed in a div container labeled canvas and the model is given an id in the canvas tag which will be called when the pie chart is rendered in line 73-->
		    
	    </div>
	    
	    <div id="canvas-holder2" style="width:38%; float: right">		<!--Feel free to change this if I did it a stupid way. This is all I could figure out-->
	    	<h2 style="text-align:center; font-family:Arial">Income Ratio</h2>
	    	<canvas id="second-pie-area"></canvas>
	    </div>
	  
		<script>
	
		console.log("bimbo");
		
		var auto = 0, utilities = 0, food = 0, insurance = 0, taxes = 0, housing = 0, miscellaneousE = 0,
			payroll = 0, spouse = 0, loan = 0, miscellaneousI = 0, tax_return = 0;
		
		var rows = <%-JSON.stringify(budgets)%>
	        console.log(rows);
	        console.log("lorem ipsum");
	
	        for(i=0; i< rows.length; i++) {
	            
	            switch(rows[i].category) {
	            	case "Auto":
	            		auto += rows[i].amount;
	            		console.log(auto);
	            		break;
	            	case "Utilities":
	            		utilities += rows[i].amount;
	            		console.log(utilities);
	            		break;
	            	case "Food":
	            		food += rows[i].amount;
	            		console.log(food);
	            		break;
	            	case "Insurance":
	            		insurance += rows[i].amount;
	            		console.log(insurance);
	            		break;
	            	case "Tax":
	            		taxes += rows[i].amount;
	            		console.log(taxes);
	            		break;
	            	case "Housing":
	            		housing += rows[i].amount;
	            		console.log(housing);
	            		break;
	        		case "Miscellaneous":
	            		miscellaneousE += rows[i].amount;
	            		console.log(miscellaneousE);
	            		break;
	            	case "Payroll":
	            		payroll += rows[i].amount;
	            		console.log(payroll);
	            		break;
	            	case "Loan":
	            		loan += rows[i].amount;
	            		console.log(loan);
	            		break;
            		case "MiscellaneousI":
	            		miscellaneousI += rows[i].amount;
	            		console.log(miscellaneousI);
	            		break;
	            	case "Tax Return":
	            		tax_return += rows[i].amount;
	            		console.log(tax_return);
	            		break;
	            	default:
	            		console.log("No category! Entry has been disregarded :( ");
	            }//end switch
	        }//end for loop
	        
		    window.chartColors = {
		    	red: 'rgb(255, 99, 132)',
		    	orange: 'rgb(255, 159, 64)',
		    	yellow: 'rgb(255, 205, 86)',
		    	green: 'rgb(75, 192, 192)',
		    	blue: 'rgb(54, 162, 235)',
		    	purple: 'rgb(153, 102, 255)',
		    	lime: 'rgb(174, 234, 0)',
		    	grey: 'rgb(201, 203, 207)'
		    };
	
			var config =  {
				type: 'pie',
				data: {
					datasets: [{
						data: [auto, utilities, food, insurance, taxes, housing, miscellaneousE],
						backgroundColor: [
							window.chartColors.red,
							window.chartColors.orange,
							window.chartColors.yellow,
							window.chartColors.green,
							window.chartColors.blue,
							window.chartColors.purple,
							window.chartColors.lime]
					}],
							
					label: 'Dataset 1',
					labels: [
						'Auto',
						'Utilities',
						'Food',
						'Insurance',
						'Taxes',
						'Housing',
						'Miscellaneous']},
					options: {
						responsive: true
					}
			};
			
			var config2 =  {
				type: 'pie',
				data: {
					datasets: [{
						data: [payroll, spouse, loan, miscellaneousI, tax_return],
						backgroundColor: [
							window.chartColors.red,
							window.chartColors.green,
							window.chartColors.blue,
							window.chartColors.purple,
							window.chartColors.lime]
					}],
							
					label: 'Dataset 1',
					labels: [
						'Payroll',
						'Spouse Income',
						'Loan',
						'Miscellaneous',
						'Tax Return']},
					options: {
						responsive: true
					}
			};
	
			window.onload = function() {
				var ctx = document.getElementById("chart-area").getContext('2d'); //To render a chart, you call the canvas you created when you created a container for it
				window.myPie = new Chart(ctx, config);
				
				var ctx2 = document.getElementById("second-pie-area").getContext('2d'); //To render a chart, you call the canvas you created when you created a container for it
			 	window.mySecondPie = new Chart(ctx2, config2);
			};
		</script>
	</body>
</html>